@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

body {
  background-color: black;
}


.team_number_div {
  background-color: black;
}

.team_number {
  color: green;
  margin-top:20px;
  margin-right:15px;
  font-family: 'Tomorrow', sans-serif;
}

.mdc-top-app-bar__row {
  border-bottom: .5px solid white;
}

.team-picture {
  margin-left: 40px;
  /* margin-top:20px; */
    /* border: 2px solid gray; */
    background-color: white;
    height: 100px;
    width: 100px;
    /* border-radius: 12%; */
    cursor: pointer;
}

.logo-icon {
  scale: 1;
  height:80px;
  width:auto;
  margin:40px;
  border-radius: 12%;
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

}


.team-picture, .gradient-wrap {
  height: 160px;
  width: 160px;

    /* width: auto; */
  border-radius: 50%;
  border: 0.2px white solid;
}

.teamName {
  color:white;
  font-family: 'Tomorrow', sans-serif;
  width:auto;
  /* margin-left:40px; */
  margin-bottom:0px;
  text-align: left;
  margin-left:20px;
  margin-top:20px;
  font-size: 30px;
  width:auto;
  /* width:200px; */
}

.infobox {
  width: 100%;
}

.location {
  margin-left:20px;
  margin-top:5px;
  text-align: left;
}

.team-info-left-box {
  padding-top:20px;
  height:100vh;
  width:40%;
  border-right: .5px solid white;
}

.flex {
  display: flex;
}

.infotxt {
  width: 180px;
    color: white;
    text-align: center;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
}

.location {
  color:grey;
}

.teamnumber {
  margin-top: 30px;
  padding-left: 30px;
  width:90%;
  color:green;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  width:60%;
}

.team_name {
  margin-left: 30px;
  /* height:100px; */
  margin-top:-5px;
  color:white;
  font-family: 'Tomorrow', sans-serif;
  /* width:100%; */
  display:flex;
  text-align: left;
  font-size: 120px;
  width:60%;
}
.info {
  margin-left:30px;
  align-self: flex-end;
  padding-right: 30px;
  font-size: 20px;
  text-align: left;
  color:white;
  font-family: 'Montserrat', sans-serif;
  display:flex;
  width:60%;
}

.infoicon {
  color:white;
  width:10%;
  font-size:30px;
  margin-top:30px;
}

.toprow {
  display: flex;

}
/* div {
  border: 1px solid white;
} */
img {
  height: 30px;
  width: auto;
}

.nomargin {
  margin: 0px;
}

.nomargin2 {
  align-self: flex-end;
  margin:0px;
}


/* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #232741; background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
