@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

body {
  background-color: black;
}


.team_number_div {
  background-color: black;
}

.team_number {
  color: white;
  margin-top:20px;
  margin-right:15px;
  font-family: 'Tomorrow', sans-serif;
}

.mdc-top-app-bar__row {
  border-bottom: .5px solid white;
}

.team-picture {
  margin-left: 40px;
  /* margin-top:20px; */
    /* border: 2px solid gray; */
    background-color: white;
    height: 100px;
    width: 100px;
    /* border-radius: 5px; */
    cursor: pointer;
}

.logo-icon {
  height:60px;
  width:auto;
  margin:20px;
}


.team-picture, .gradient-wrap {
  border-radius: 25%;
}

.teamName {
  color:white;
  font-family: 'Montserrat', sans-serif;
  margin-left:40px;
  text-align: left;
  margin-top:30px;
  font-size: 30px;
  /* width:200px; */
}

.team-info-left-box {
  padding-top:20px;
  height:100vh;
  width:40%;
  border-right: .5px solid white;
}
