@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');


* {
  margin: 0;
  padding: 9;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr fit-content(20%);
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: 
  "title awards-years"
  "header header"
  "content content"
  "sidebar sidebar"
  "footer footer";
}

.team-logo {
  grid-area: title;
  justify-self: start;
}
.awards-years {
  grid-area: "awards-years";
  align-self: center;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.awards, .years {
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 10%;
}
.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
  border-left: black 1px solid;
}
.content {
  grid-area: content;
  align-self: start;
  margin-top: 3%;
}
.footer {
  grid-area: footer;
}



/* div {
  border: black solid 1px
} */

@media screen and (min-width: 767px) {
  .grid {
    display: grid;
    grid-template-columns: auto 0.5fr 2fr fit-content(20%);
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
    "title awards-years sidebar"
    "header header sidebar"
    "content content sidebar"
    "footer footer footer";
  }

}
.team-logo {
  margin-top: 10%;
}
.team-picture, .gradient-wrap {
  height: 160px; 
  width: 160px;

    /* width: auto; */
  border-radius: 50%;
  border: 0.2px white solid;
}
.teamName {
  overflow: hidden;
}
.logo-icon {
  scale: 1;
  height:80px;
  width:auto;
  margin:40px;
  border-radius: 12%;
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

}

.teamName {
  color:black;
  font-family: 'Tomorrow', sans-serif;
  width:auto;
  /* margin-left:40px; */
  margin-bottom:0px;
  text-align: left;
  /* margin-left:20px;
  margin-top:20px;
  font-size: 30px; */
  width:auto;
  /* width:200px; */
}

.location {
  /* margin-left:20px; */
  margin-top:5px;
  text-align: left;
  color:grey;
  border-bottom: solid darkgray 1px;

}
