@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

html, body {
  margin: 0;

}

.header {
  display:flex;
  width:100%;
  background-color: #121212;
}


.headerSpace {
  flex-grow:3;
}

.sButtons {
  float:right;
  flex-grow:1;
}

.titleText {
  flex-grow:1;
  color:white !important;
}

.foo-button {
  float:right;
}

.mdc-button__label {
  color: white;
}

.si {
  color: green !important;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 13vw;
  font-family: 'Tomorrow', sans-serif;
  color: white;
}

.subtitle {
  width: 100%;
  text-align: center;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  color: white;
}


.undl {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.green {
  color: green !important;
}

.other-services:after {
  content: "";
  clear: both;
  display: table;
}

.sv {
  float: left;
  width: 40px;
  padding: 5px;
  height:40px;
}

.sv img {
  height:40px;
}

.vertical-space {
  height:20px;
}

.l-space {
  margin:0;
  padding:0;
  width: calc(50vw - 110px) !important;
  height:50px !important;
}
body {
  margin:0;
  font:normal 75% Arial, Helvetica, sans-serif;
}
canvas{
  display: block;
  vertical-align: bottom;
}
#particles-js{
  z-index:-1;
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
