@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

html, body {
  margin: 0;
  background-color: #121212;
}

.header {
  display:flex;
  width:100%;
  background-color: black;
}

.headerSpace {
  flex-grow:3;
}

.sButtons {
  float:right;
  flex-grow:1;
}

.titleText {
  flex-grow:1;
  color:white !important;
}

.foo-button {
  float:right;
}

.mdc-button__label {
  color: white;
}

.si {
  color: green !important;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 13vw;
  font-family: 'Tomorrow', sans-serif;
  color: white;
}


.undl {
  animation: blinker .4s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
